<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
  <body>
    <!-- Link to Add Fruit page -->
    <a href="/fruits/new">Add New Fruit</a>
    <h1>All Fruits</h1>
    <!-- Listing each fruit by their name below -->
    <ul>
        <% fruits.forEach(fruit => { %>
        <li><%= fruit.name %></li>
    <% }); %>
    </ul>
  </body>
</html>
